<DOCTYPE! html>
<html>
<head>
  <title>
    <%= javascript_include_tag "loginform" %>
  </title>
</head>

<body>
  <div class="row">
  <div class="small-4 large-centered columns">
<h1>Ruby Rage</h1>

  <button class="play button round">Play!</button>

  <div class="form_area">
    <fieldset>
    <%= form_tag sessions_path do %>
    <p>
      <%= label_tag :email %>
      <%= text_field_tag :email, params[:email]%>
    </p>
    <p>
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </p>
    <p><%= submit_tag "Sign in"%></p>
    <% end %>

    <%= button_to "Create an account", new_user_path %>
  </fieldset>
  </div>

  </div>
</div>

</body>
</html>

