<div id="rubymon-set">
  <img class="rubymon-img" id="blank">
  <%= image_tag 'ruby_icon_red.png', class: 'rubymon-img', id: 'red' %>
  <%= image_tag 'ruby_icon_blue.png', class: 'rubymon-img', id: 'blue' %>
  <%= image_tag 'ruby_icon_green.png', class: 'rubymon-img', id: 'green' %>
  <%= image_tag 'ruby_icon_purple.png', class: 'rubymon-img', id: 'purple' %>
  <%= image_tag 'ruby_icon_yellow.png', class: 'rubymon-img', id: 'yellow' %>
  <%= image_tag 'ruby_icon_sad.png', class: 'rubymon-img', id: 'sad' %>
</div>