<div id="rubymon-set">
  <img class="rubymon-img" id="blank">
  <%= image_tag 'rubymon3d_red.png', class: 'rubymon-img', id: 'red' %>
  <%= image_tag 'rubymon3d_blue.png', class: 'rubymon-img', id: 'blue' %>
  <%= image_tag 'rubymon3d_green.png', class: 'rubymon-img', id: 'green' %>
  <%= image_tag 'rubymon3d_purple.png', class: 'rubymon-img', id: 'purple' %>
  <%= image_tag 'rubymon3d_yellow.png', class: 'rubymon-img', id: 'yellow' %>
  <%= image_tag 'rubymon3d_sad.png', class: 'rubymon-img', id: 'sad' %>
</div>

<div id="channel-name">
  <%= @channelname %>
</div>

<div class="multi">
  <canvas width='300' height='480' id="gameboard"></canvas> <!-- TODO: NEED TO MAKE IT RESPONSIVE -->
  <canvas width='50' height='100' id="preview"></canvas> <!-- TODO: NEED TO MAKE IT RESPONSIVE -->

  <canvas width='200'></canvas>
  <div width='300' height='600' id="opponent"></div>

 <div id="battle-button">Start Battle</div>

  <br><a href="/games/dashboard" class="button round">Back to Dashboard</a>
</div>
  <%= javascript_include_tag "rubyrage" %>